<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% csrf_token %}
    <nav>
        {% block navbar %}{% endblock navbar %}
        <ul>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            {% if user.is_authenticated %}
                <p>Bienvenido, {{ user.username }}</p>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </ul>
    </nav>
    <h1>home</h1>
    {% block content %}{% endblock content %}
</body>
</html>